
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->
<head>
   
</head>
<body>
    <section class=" tg-haslayout tg-bgstyletwo" style="height:100%;">
        <header id="tg-header" class="tg-header tg-haslayout">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="tg-topbar tg-haslayout">
                        <nav id="tg-topaddnav" class="tg-topaddnav">
                            <a href="javascript()" class="tg-btn pull-left" style="margin-bottom:1%;z-index:99999;margin-left:2%;" data-toggle="modal" data-target="#tg-login">Bid Question</a>
                            <a href="javascript()" class="tg-btn pull-right" style="z-index:99999;margin-right:2%;" data-toggle="modal" data-target="#tg-login">Logout</a>
                        </nav>
                    </div>
                    <nav id="tg-nav" class="tg-nav brand-center">
                        <div class="navbar-header">
                            <strong class="tg-logo">
                                <a href="index.html"><img src="/Content/images/logo.png" alt="image description"></a>
                            </strong>
                        </div>
                        <div id="tg-navigation" class="tg-navigation">
                            <div class="tg-colhalf">
                            </div>
                            <div class="tg-colhalf">
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div class="tg-bgboxone"></div>
        <div class="tg-bgboxtwo"></div>
        <div class="tg-bgpattrant">
            <div class="container">
                <div class="row">
                    <div class="tg-pointstablewrapper">
                        <div class="col-sm-8 col-xs-12">
                            <div class="tg-pointstable">
                                <div class="tg-section-heading"><h2>points table</h2></div>
                                <div id="tg-pointstable-slider" class="tg-pointstable-slider swiper-container-vertical">
                                    <div class="swiper-wrapper" style="transform: translate3d(0px, -385px, 0px); transition-duration: 0ms;">
                                        <div class="swiper-slide" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Pink Dragons</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Red Wolves</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Pink Dragons</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Big jaw lion</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Pink Dragons</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-prev" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Red Wolves</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-active" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Pink Dragons</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-next" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Red Wolves</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Pink Dragons</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Big jaw lion</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Pink Dragons</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 54.1667px; margin-bottom: 10px;">
                                            <div class="tg-pointtable">
                                                <div class="tg-box">Red Wolves</div>
                                                <div class="tg-box">w 1</div>
                                                <div class="tg-box">d 0</div>
                                                <div class="tg-box">l 1</div>
                                                <div class="tg-box">pt 2</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tg-themebtnnext swiper-button-disabled"><span class="fa fa-angle-down"></span></div>
                                    <div class="tg-themebtnprev"><span class="fa fa-angle-up"></span></div>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 hidden-xs">
                            <figure style="padding-top:27%;">
                                <img src="~/Content/images/img-03.png" alt="image description">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
</body>
</html>