
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->
 
<body>
    <section class=" tg-haslayout tg-bgstyleone" style="height:100%;">
        <header id="tg-header" class="tg-header tg-haslayout">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="tg-topbar tg-haslayout">
                        <nav id="tg-topaddnav" class="tg-topaddnav">
                            <a href="javascript()" class="tg-btn pull-left" style="margin-bottom:1%;z-index:99999;margin-left:2%;" data-toggle="modal" data-target="#tg-login">Bid History</a>
                            <a href="javascript()" class="tg-btn pull-right" style="z-index:99999;margin-right:2%;" data-toggle="modal" data-target="#tg-login">Logout</a>
                        </nav>
                    </div>
                    <nav id="tg-nav" class="tg-nav brand-center">
                        <div class="navbar-header">
                            <strong class="tg-logo">
                                <a href="index.html"><img src="/Content/images/logo.png" alt="image description"></a>
                            </strong>
                        </div>
                        <div id="tg-navigation" class="tg-navigation">
                            <div class="tg-colhalf">
                            </div>
                            <div class="tg-colhalf">
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div class="tg-bgboxone"></div>
        <div class="tg-bgboxtwo"></div>
        <div class="tg-bgpattrant">
            <div class="container">
                <div class="row">
                    <div class="tg-upcomingmatch-counter">
                        <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
                            <figure style="padding-top:27%">
                                <img src="~/content/images/img-02.png" alt="image description">
                            </figure>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="tg-contentbox">
                                <div class="tg-section-heading"><h2>Kings XI <span>VS</span> Supergiants</h2></div>
                                <div class="tg-description">
                                    <p>Will Kings XI hit 6 on 5th over?</p>
                                </div>
                                <div class="tg-counters">
                                    <div class="tg-counter tg-days"><h3>97</h3><h4>Days</h4></div>
                                    <div class="tg-counter tg-hours"><h3>3</h3><h4>Hours</h4></div>
                                    <div class="tg-counter tg-minutes"><h3>4</h3><h4>Minutes</h4></div>
                                    <div class="tg-counter tg-seconds"><h3>8</h3><h4>Seconds</h4></div>
                                </div>
                                <div class="tg-btnbox">
                                    <a class="tg-btn" href="#"><span>YES</span></a>
                                    <a class="tg-btn" href="#"><span>NO</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>